.about {
	position: relative;
	min-height: auto;
	text-align: center;
	color: #fff;
	width: 100%;
	background-color: #c9c9c9;
	background-image: url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg');
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
