{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}


<!-- Sidebar/menu -->
<nav class=" w3-sidebar w3-bar-block  w3-animate-left w3-text-grey w3-collapse w3-top w3-center bg-none" style="z-index:3;width:300px;font-weight:bold; background-color: black;" id="mySidebar"><br>
  <h3 class="w3-padding-64 w3-center"><b><br></b></h3>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">Gallery</a> 
  <a href="#aboutnotes" onclick="w3_close()" class="w3-bar-item w3-button">About Amsun Notes</a> 
  <a href="#aboutme" onclick="w3_close()" class="w3-bar-item w3-button">About Developer</a>
  <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">Get Started</a>
</nav>

<!-- Top menu on small screens -->
<nav class="w3-container w3-top w3-hide-large w3-DARK w3-xlarge w3-padding-16" style="background-color: black;">
  <span class="w3-left w3-padding"><a class="navbar-brand" href="/"><span class="blue">A</span><span class="red">M</span><span class="yellow">S</span><span class="green">U</span><span class="yellow">N</span> <span class="blue">Notes</span></a></span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Push down content on small screens --> 
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Photo grid -->
  <div class="w3-row" style="background-color: black;">
    <div class="w3-third">
      <img src="/static/images/about/books.jpeg" style="width:100%" onclick="onClick(this)" alt="Many more to read!">
      <img src="/static/images/about/gowns.jpg" style="width:100%" onclick="onClick(this)" alt="It will come!">
      <img src="/static/images/about/graduation.jpeg" style="width:100%" onclick="onClick(this)" alt="It will all be worth it in the end!">
    </div>

    <div class="w3-third">
      <img src="/static/images/about/grey.jpeg" style="width:100%" onclick="onClick(this)" alt="Beauty in Medicine, na haitaki hasira!">
      <img src="/static/images/about/laptop.jpeg" style="width:100%" onclick="onClick(this)" alt="Don't lose your soul in the process!">
      <img src="/static/images/about/spine.jpg" style="width:100%" onclick="onClick(this)" alt="Let's listen, na hakuna makasiriko!">
    </div>
    
    <div class="w3-third">
      <img src="/static/images/about/book-stetho.jpg" style="width:100%" onclick="onClick(this)" alt="All you need!">
      <img src="/static/images/about/stetho.jpg" style="width:100%" onclick="onClick(this)" alt="One more step!">
      <img src="/static/images/about/surgery.jpg" style="width:100%" onclick="onClick(this)" alt="Listen carefully!">
    </div>
  </div>


  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- About section -->
  <div class="w3-container w3-dark w3-center w3-text-light-grey w3-padding-32 about-notes" id="aboutnotes">
    <div class="w3-content w3-justify" style="max-width:600px; font-family: 'Raleway', sans-serif !important; font-size: 14px">
      <h4></h4>
      <p style="font-family: 'Raleway', sans-serif !important; font-weight: 100; font-size: 14px;">
          This is an Integrated Learning Environment (ILE) for Association of Medical Students of the University of Nairobi (AMSUN). A student can watch Youtube videos and make short notes on the same page!
      </p>
      <h4>Usage</h4>
      <p style="font-family: 'Raleway', sans-serif !important; font-weight: 100; font-size: 14px;">
          It is all simple,
          copy a youtube link, paste in the input provided under 'new note', click search and your video will display. Click on play and learn, while making notes on the side. You can read, edit, and delete your notes!
      </p>
      <hr class="w3-opacity">
      <h4 class="w3-padding-16"> AMSUN NOTES RATINGS</h4>
      <p class="w3-wide">Efficiency</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
      </div>
      <p class="w3-wide">Secure notes </p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:85%">85%</div>
      </div>
      <p class="w3-wide">All-time support</p>
      <div class="w3-white">
        <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
      </div>
      <hr class="w3-opacity">

      <h4 class="w3-padding-16">Subscribe to beta-plan</h4>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
            <li class="w3-padding-16">Free Storage</li>
            <li class="w3-padding-16">Free updates</li>
            <li class="w3-padding-16">5GB Storage</li>
            <li class="w3-padding-16">Mail Support</li>
            <li class="w3-padding-16">
              <h2>$ 0.50</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">Sign Up</button>
            </li>
          </ul>
        </div>
        
        <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
            <li class="w3-padding-16">Free Medical Books</li>
            <li class="w3-padding-16">Access to journals</li>
            <li class="w3-padding-16">50GB Storage</li>
            <li class="w3-padding-16">Endless Support</li>
            <li class="w3-padding-16">
              <h2>$ 2.5</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">Sign Up</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!-- About Me -->

  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="aboutme">
    <h4><b>About Developer</b></h4>
    <img src="/static/images/makini.JPG" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
    <div class="w3-content w3-justify" style="max-width:600px">
      <h4>Makini Makini</h4>
      <p style="font-family: 'Raleway', sans-serif !important; font-weight: 100; font-size: 14px;">
        Hi, my name is Makini, a tech aficionado from India, a photographer, and I am a software engineer. I like to code things from scratch, and enjoy bringing ideas to life in the browser.

        I value simple content structure, clean design patterns, and thoughtful interactions. I genuinely care about people, and love helping fellow designers work on their craft.
        
        I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
        
        During my free time, I walk into the medical school, and learn about life. Besides, I play guitar and spend time with loved ones!
        My languages are: C, Python, Javascript, Node-js
      </p>
      <hr class="w3-opacity">

      
    </div>
  </div>



  

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


{% endblock %}
