{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}


    {% for item in notes %}
    <div class="notes_form form-control">
      <form action="/{{item[0]}}/edit" method="POST" class="">
        <label for="title">Title:</label>  
        <textarea name="title" cols="30" rows="2" placeholder="title" type="text" >{{item[1]}}</textarea> 
        <br>
        <label for="notes">Notes:</label> 
        <textarea name="notes" cols="30" rows="7" placeholder="notes" type="text">{{item[2]}}</textarea>  
        <br>
          <button class="btn btn-primary bg-dark" type="submit">Save Notes</button>
      </form>
  </div>

    {% endfor %}


{% endblock %}