{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-lg-3 col-sm-0"></div>
<div class="col-lg-6 col-sm-12">
  <div class="notes_form">
    {% for item in notes %}

    <form action="/{{item[0]}}/edit" method="POST" style="size: 258*258;">
     <label for="title">Title:</label>  
     <textarea name="title" id="" cols="30" rows="2" placeholder="title" type="text" >{{item[1]}}</textarea> 
     <br>
     <label for="notes">Notes:</label> 
     <textarea name="notes" cols="30" rows="7" placeholder="notes" type="text">{{item[2]}}</textarea>  
     <br>
      <button class="btn btn-primary bg-dark" type="submit">Save Notes</button>
    </form>

    {% endfor %}

</div>
</div>
<div class="col-lg-3 col-sm-0"></div>
</div>




{% endblock %}