{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


<header id="first">
    <div class="header-content">
        <div class="inner">
            {% if session.user_id %}
            <h1 class="cursive">Welcome, Medical Student Notes</h1>
            <h4>An easy way to watch Youtube Videos and save notes</h4>
            <hr>
                <a href="https://www.youtube.com" target="blank"  class="btn btn-primary btn-xl mb-5 mb-md-0">Search Youtube</a> &nbsp; <a href="/home" class="btn btn-primary btn-xl page-scroll">Get Started</a>   
            {% else %}
                <h1 class="cursive">Amsun Notes</h1>
                <hr>
                <a href="/about" data-toggle="collapse" class="btn btn-primary btn-xl page-scroll">About</a> &nbsp; <a href="/login" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            {% endif %}
        </div>
    </div>
</header>
<section  id="one"  class="bg-primary" > 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0  text-faded">Built by Makini Makini</h2>
                <br>
                <p class="text-faded">
                    Hi, my name is Makini, a tech aficionado from India, a photographer, and I am a ...
                </p>
                <a href="https://makini-makini.herokuapp.com" class="btn btn-default btn-xl page-scroll" target="blank">Learn More </a>
            </div>
        </div>
    </div>
</section>

<section id="three" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/deer.jpg">
                    <img src="/static/images/deer.jpg" class="img-responsive" alt="Image 1">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/static/images/beach.jpg">
                    <img src="/static/images/beach.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix hidden-lg"> </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/lake.jpg">
                    <img src="/static/images/lake.jpg" class="img-responsive" alt="Image 3">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/bike.jpg">
                    <img src="/static/images/bike.jpg" class="img-responsive" alt="Image 4">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix hidden-lg"> </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/city.jpg">
                    <img src="/static/images/city.jpg" class="img-responsive" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/colors.jpg">
                    <img src="/static/images/colors.jpg" class="img-responsive" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>Study Resources</h4>
                <ul class="list-unstyled">
                    <li><a href="https://www.pdfdrive.com/category/45" target="blank">Books</a></li>
                    <li><a href="https://www.youtube.com/c/osmosis/videos" target="blank">Videos</a></li>
                    <li><a href="http://www.freemedicaljournals.com" target="blank">Journals</a></li>
                    <li><a href="http://www.medscape.com" target="blank">Medscape</a></li>
                    <li><a href="https://www.youtube.com/user/armandohasudungan/videos" target="blank">Others</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>About</h4>
                <ul class="list-unstyled">
                    <li><a href="mailto:brianmakini@gmail.com">Contact Us</a></li>
                    <li><a href="https://github.com/MakiniMakini" target="blank">Github</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 column">
                <h4>Stay Posted</h4>
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control-email" title="No spam, we promise!" placeholder="Feature disabled">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <h4>Follow</h4>
                <ul class="list-inline">
                  <li><a rel="nofollow" href="" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                  <li><a rel="nofollow" href="" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                  <li><a rel="nofollow" href="" title="Dribble"><i class="icon-lg ion-social-dribbble-outline"></i></a></li>
                </ul>
            </div>
        </div>
        <br/>
        <span class="pull-right text-muted small"><a href="#">Med Notes</a> ©Makini Makini</span>
    </div>
</footer>

<!--scripts loaded here -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/scripts.js"></script>


{% endblock %}