{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <img src="https://images.unsplash.com/photo-1608346675041-bdc83d60aa9e?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" alt="">

<div class="row" id="images">
    <div class="col-4" id="first-col">
        <img src="" alt="">
        <p>Trust</p>
    </div>
    <div class="col-4" id="second-col">
        <img src="" alt="">
        <p>The</p>
    </div>
    <div class="col-4" id="third-col">
        <img src="" alt="">
        <p>Process</p>
    </div>
</div>

{% endblock %}