{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="bg">
    
</div>
<div class="landing_page">


        <div class="row" id="images">
            <div class="col-4" id="first-col">
                <img src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                <p>Trust</p>
            </div>
            <div class="col-4" id="second-col">
                <img src="https://images.unsplash.com/photo-1537368910025-700350fe46c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="">
                <p>The</p>
            </div>
            <div class="col-4" id="third-col">
                <img src="https://images.unsplash.com/photo-1516841273335-e39b37888115?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1031&q=80" alt="">
                <p>Process</p>
            </div>
        </div>
    
    
    
</div>

{% endblock %}