{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

<div class="split left">
  <div class="centered">
    <div>
      <p>Medicine for dummies</p>
    </div>
    
    <div class="card mb-3" style="max-width: 740px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1068&q=80" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">NOTES</h5>
            <div>
              <form action="/save" method="post">
                <textarea name="title" id="" cols="3" rows="10" placeholder="title"></textarea>
                <textarea name="notes" id="" cols="30" rows="10" placeholder="notes"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

<div class="split right">
  <div class="centered">
    <iframe id="existing-iframe-example"
        width="640" height="360"
        src="https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60"
        frameborder="0"
        style="border: solid 4px #f72905"
    ></iframe>
    <div class="form-group">
      <input type="text" class="form-control" id="userInput" placeholder="Enter youtube link">
      <button type="button" onclick="searchVideo();" class="btn btn-danger">Search video</button>
    </div>
  </div>
</div>
    

<script type="text/javascript">
function searchVideo(){
  var userUrl = document.getElementById('userInput').value

  function getId(url) {
    const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);

    return (match && match[2].length === 11)
      ? match[2]
      : null;
  }

  const videoId = getId(userUrl)

  document.getElementById("existing-iframe-example").src = `https://www.youtube.com/embed/${videoId}?enablejsapi=1`


  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('existing-iframe-example', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }
  function onPlayerReady(event) {
    document.getElementById('existing-iframe-example').style.borderColor = '#FF6D00';
  }
  function changeBorderColor(playerStatus) {
    var color;
    if (playerStatus == -1) {
      color = "#37474F"; // unstarted = gray
    } else if (playerStatus == 0) {
      color = "#FFFF00"; // ended = yellow
    } else if (playerStatus == 1) {
      color = "#33691E"; // playing = green
    } else if (playerStatus == 2) {
      color = "#DD2C00"; // paused = red
    } else if (playerStatus == 3) {
      color = "#AA00FF"; // buffering = purple
    } else if (playerStatus == 5) {
      color = "#FF6DOO"; // video cued = orange
    }
    if (color) {
      document.getElementById('existing-iframe-example').style.borderColor = color;
    }
  }
  function onPlayerStateChange(event) {
    changeBorderColor(event.data);
  }
  }
 
</script>

{% endblock %}
